table {
    width: 60%;
    border-collapse: collapse;
    background-color: #f2f2f2;
    color: #333;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #ddd;
}
